[Desktop Entry]
Name=Network Scanner
Comment=An Nmap Front-End
Encoding=UTF-8
Exec=/usr/lib/networkscanner/networkscanner.py
Icon=in.fossfrog.networkscanner
Terminal=false
Type=Application
Categories=01-info-gathering;01-04-network-scanners;02-vulnerability-analysis;
X-Purism-FormFactor=Workstation;Mobile;
