[Desktop Entry]
Name=Network Scanner
Comment=An Nmap Front-End
Encoding=UTF-8
Exec=/usr/lib/networkcanner/networkcanner.py
Icon=/usr/lib/networkcanner/logo.svg
Terminal=true
Type=Application
Categories=01-info-gathering;01-04-network-scanners;02-vulnerability-analysis;
X-Purism-FormFactor=Workstation;Mobile;
